.sidebar {
  width: 60px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #eee;
  height: 100vh;
  position: sticky;
  top: 0;
}


.logo-img {
  width: 30px;
}

.sidebar-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  margin-top: 20px;
}

.sidebar-bottom {
  margin-top: auto;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.sidebar-icon {
  color: gray;
  cursor: pointer;
  padding: 6px;
  border-radius: 8px;
  transition: background-color 0.2s ease;
}

.sidebar-icon:hover {
  background-color: #f2f2f2;
}

.sidebar-icon.active {
  background-color: #eee;
  color: black;
}

.divider {
  width: 20px;
  border: none;
  border-top: 1px solid #ccc;
  margin: 8px 0;
}
